django>=5.0
django-extensions>=3.0
django-storages>=1.14
django-debug-toolbar>=4.2
environs>=10.0
whitenoise>=6.6
psycopg>=3.1
django-ninja>=1.0
pytest>=7.4
pytest-django>=4.7

# Optional: Uncomment to enable Clerk authentication
# clerk-backend-api>=0.1
